body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
:root {
  --color-primary: #ffffff;
  --color-secondary: #212121;
  --color-third: #2196f3;
  --color-link: #757575;
  --color-section: #2f303a;
}

.logo {
  color: var(--color-third);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.link-nav {
  text-decoration: none;
}
.studio {
  color: var(--color-secondary);
}
.site-nav .link {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--color-third);
}
.auth-nav .link-nav:hover,
.auth-nav .link-nav:focus {
  color: var(--color-third);
}
.link-nav {
  color: var(--color-link);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-third);
}
.hero {
  color: var(--color-primary);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button:hover,
button:focus {
  color: var(--color-secondary);
}
.button {
  background-color: var(--color-third);
  font-weight: 700;

  font-size: 16px;
  line-height: 1.88;
  font-family: 'Roboto';
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--color-primary);
}
.section {
  background-color: var(--color-section);
}
.feature-list .text {
  color: var(--color-link);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.name-work {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-link);
}
.team .text {
  color: var(--color-link);
}
.footer {
  background-color: var(--color-section);
}
.studio-footer {
  color: var(--color-primary);
}
.footer p {
  color: var(--color-primary);
}
/* PORTFOLIO */
.filtr-name {
  color: var(--color-link);
}

.name-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-secondary);
}
.filtr-name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-link);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--color-third);
  color: var(--color-primary);
}
.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}
.adress {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
